---
name: devcontainer-ci

on:
    push:
        paths:
            - .github/workflows/ci.yml
            - images/**/*

permissions: read-all

jobs:
    pre-build-all:
        strategy:
          matrix:
            runner: [ubuntu-latest, ubuntu-24.04-arm]
            node: [22]
            include:
              - runner: ubuntu-latest
                arch: amd64
              - runner: ubuntu-24.04-arm
                arch: arm64
        runs-on: ${{ matrix.runner }}
        permissions: write-all
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                node-version: ${{ matrix.node }}
            - name: Install Devcontainer CLI
              run: npm install -g @devcontainers/cli
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v2 
              with:
                registry: ghcr.io
                username: ${{ github.repository_owner }}
                password: ${{ secrets.GITHUB_TOKEN }}
            - name: Pre-build and publish lot49-base
              run: devcontainer build --workspace-folder images/lot49-base --image-name ghcr.io/lot49-cybernetics/lot49-base:noble-${{ matrix.arch }} --push
            - name: Pre-build and publish lot49-base-deploy
              run: devcontainer build --workspace-folder images/lot49-base-deploy --image-name ghcr.io/lot49-cybernetics/lot49-base-deploy:noble-${{ matrix.arch }} --push
            # - name: Pre-build and publish lot49-base-cpp
            #   run: devcontainer build --workspace-folder images/lot49-base-cpp --image-name ghcr.io/lot49-cybernetics/lot49-base-cpp:noble-${{ matrix.arch }} --push
            # - name: Pre-build and publish lot49-base-java
            #   run: devcontainer build --workspace-folder images/lot49-base-java --image-name ghcr.io/lot49-cybernetics/lot49-base-java:noble-${{ matrix.arch }} --push
            # - name: Pre-build and publish lot49-base-polyglot
            #   run: devcontainer build --workspace-folder images/lot49-base-polyglot --image-name ghcr.io/lot49-cybernetics/lot49-base-polyglot:noble-${{ matrix.arch }} --push

    merge-manifests:
        needs: pre-build-all
        runs-on: ubuntu-latest
        permissions: write-all
        steps:
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v2 
              with:
                registry: ghcr.io
                username: ${{ github.repository_owner }}
                password: ${{ secrets.GITHUB_TOKEN }}
            
            - name: Create manifest for lot49-base
              run: |
                docker buildx imagetools create -t ghcr.io/lot49-cybernetics/lot49-base:noble \
                ghcr.io/lot49-cybernetics/lot49-base:noble-amd64 \
                ghcr.io/lot49-cybernetics/lot49-base:noble-arm64
            
            - name: Create manifest for lot49-base-deploy
              run: |
                docker buildx imagetools create -t ghcr.io/lot49-cybernetics/lot49-base-deploy:noble \
                ghcr.io/lot49-cybernetics/lot49-base-deploy:noble-amd64 \
                ghcr.io/lot49-cybernetics/lot49-base-deploy:noble-arm64

            # - name: Create manifest for lot49-base-cpp
            #   run: |
            #     docker buildx imagetools create -t ghcr.io/lot49-cybernetics/lot49-base-cpp:noble \
            #     ghcr.io/lot49-cybernetics/lot49-base-cpp:noble-amd64 \
            #     ghcr.io/lot49-cybernetics/lot49-base-cpp:noble-arm64

            # - name: Create manifest for lot49-base-java
            #   run: |
            #     docker buildx imagetools create -t ghcr.io/lot49-cybernetics/lot49-base-java:noble \
            #     ghcr.io/lot49-cybernetics/lot49-base-java:noble-amd64 \
            #     ghcr.io/lot49-cybernetics/lot49-base-java:noble-arm64

            # - name: Create manifest for lot49-base-polyglot
            #   run: |
            #     docker buildx imagetools create -t ghcr.io/lot49-cybernetics/lot49-base-polyglot:noble \
            #     ghcr.io/lot49-cybernetics/lot49-base-polyglot:noble-amd64 \
            #     ghcr.io/lot49-cybernetics/lot49-base-polyglot:noble-arm64
            